body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.block {
    /*padding: 10px;*/
    height: 2em;
    width: 2em;
    background: green;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.clicked {
    vertical-align:middle;
    text-align:center;
    background: grey;
}

.flag {
    background: red;
}

.game-container {
    float: left;
}

.instructions {
    float: left;
    margin: 10px;
}

span {
    display: inline-block;
    margin: 15px;
}

#lives::before {
    content: "lives: ";
}

#score::before {
    content: "score: ";
}
